html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --bg-white: hsl(0, 0%, 100%);

  --font: "Red Hat Display", sans-serif;

  --paddingX: 1.5rem;
  --paddingY: 1.5rem;
}

body {
  background-image: url(/images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-position: cover;
  background-color: var(--pale-blue);
  font-family: var(--font);
  line-height: 1.75rem;
  color: var(--Desaturated-blue);
  padding: 0 1.5625rem;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: var(--bg-white);
  max-width: 450px;
  border-radius: 1rem;
  margin: 2.7rem auto 0;
  overflow: hidden;
}

.content-wrapper {
  padding: var(--paddingX) var(--paddingY);
}

.content-wrapper > a {
  display: block;
  color: var(--Desaturated-blue);
  text-align: center;
  margin-bottom: 1.2rem;
  font-weight: 700;
  font-size: 0.85rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 900;
  color: var(--dark-blue);
  text-align: center;
  margin-bottom: 1.27rem;
}

p.sub-title {
  text-align: center;
  font-size: 0.89rem;
  margin-bottom: 1.7rem;
}

.annual-plan-box {
  background-color: var(--very-pale-blue);
  border-radius: 0.75rem;
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.annual-plan-box a {
  text-decoration: underline;
  font-size: 0.8rem;
  font-weight: 700;
}

.annual-plan-box a:hover {
  text-decoration: none;
  color: var(--bright-blue);
  opacity: 0.7;
}
.annual-plan-music-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.annual-plan-text {
  margin-left: 1.2rem;
  line-height: 1.33rem;
}

.annual-plan-text h5 {
  font-weight: 900;
  font-size: 0.93rem;
  color: var(--dark-blue);
}

a.proceed-payment-btn {
  background-color: var(--bright-blue);
  border-radius: 0.5rem;
  color: var(--bg-white);
  box-shadow: 0 10px 7px lightgray;
  padding: 0.5rem;
}

a.proceed-payment-btn:hover {
  /* background-color: blueviolet; */
  opacity: 0.7;
}

a.cancel-order-btn {
  margin-bottom: 0;
}

a.cancel-order-btn:hover {
  color: var(--dark-blue);
  font-weight: 700;
}
@media only screen and (min-width: 37.5rem) {
  body {
    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-position: contain;
    background-color: var(--pale-blue);
  }
  p.sub-title {
    /* text-align: center; */
    font-size: 1.2rem;
    /* margin-bottom: 1.7rem; */
  }
}

footer p {
  font-size: 1rem;
  text-align: center;
  color: var(--dark-blue);
  margin-top: 1.4rem;
  margin-bottom: 0.7rem;
}

footer p a {
  color: var(--dark-blue);
}
